
 @media(max-width:1080px){
    body{
        background-size:100vw;
    }
    .category-container{
        background-size:100vw;
    }

 }

.head{
    background-color:orange;
    color:white;
    align-items: center;
    display: flex;
    font-size:25px;
    justify-content:space-evenly;  
    background-size:100vw;   
}


.img-logo-container{
    width:50px;
    height: 50px;
    padding:20px;
    border-radius:30px;
}

.head-container{
    display: flex;
    justify-items:row;
}

.head-content{
    padding-top:20px;
    font-size:20px;
    align-items: flex-start;
    
}

.search-container{
    padding-left:20px;
    font-size:15px;
    padding-top:10px;
    justify-content:row;
}

.select-container{
    padding:10px;
    color:green;
    height:25px;
    

}

#flag-container{
    width:15px;
    height:15px;
    padding-top:10px;

}

input{
    width:300px;
    height:20px;
    border-radius:30px;
    border-style:none;
}

#sign-in{
    justify-content:column;
    font-size:20px;
    padding-left:20px;
    padding-right: 20px;
}

#orders{
    font-size:20px;
    padding-left:30px;
    padding-right: 40px;
}

.cart-img-logo-container{
    width:50px;
    height: 50px;
    border-radius:30px;
}

.cart-container{
    justify-content:row;
    padding:left;
}

.category-container{
    background-color:gray;
    justify-content: row;
    display:flex;
    font-size:15px;
    justify-content: space-evenly;
    
    
}

#box-spacing{
    padding:15px;
    background-size: 100vw;
    
}

.offer-image-container{
    padding: 15px;
    height:60px;
    width:120px;
    justify-content: flex-end;
    
}

.body-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 20px;
}

.recent-view {
    flex: 1;
    min-width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: lightgreen;
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 images per row */
    gap: 10px;
    margin: 10px 0;
}

.recent-images {
    width: 100%; /* Ensures images fit */
    height: auto;
    border-radius: 8px;
}