@media screen (max-width: 1280){
    

.head{
    background-color:orange;
    color:white;
    align-items: center;
    display: flex;
    font-size:25px;
    justify-content:space-evenly;  
    background-size:100vw; 
    
    
    
}
}

.img-logo-container{
    width:50px;
    height: 50px;
    padding:20px;
    border-radius:30px;
}

.head-container{
    display: flex;
    justify-items:row;
}

.head-content{
    padding-top:20px;
    font-size:20px;
    align-items: flex-start;
    
}

.search-container{
    padding-left:20px;
    font-size:15px;
    padding-top:10px;
    justify-content:row;
}

.select-container{
    padding:10px;
    color:green;
    height:25px;
    

}

#flag-container{
    width:15px;
    height:15px;
    padding-top:10px;

}

input{
    width:300px;
    height:20px;
    border-radius:30px;
    border-style:none;
}

#sign-in{
    justify-content:column;
    font-size:20px;
    padding-left:20px;
    padding-right: 20px;
}

#orders{
    font-size:20px;
    padding-left:30px;
    padding-right: 40px;
}

.cart-img-logo-container{
    width:50px;
    height: 50px;
    border-radius:30px;
}

.cart-container{
    justify-content:row;
    padding:left;
}

.category-container{
    background-color:gray;
    justify-content: row;
    display:flex;
    font-size:15px;
    justify-content: space-around;
    
    
}

#box-spacing{
    padding:15px;
    background-size: 100vw;
    
}

.offer-image-container{
    padding: 15px;
    height:60px;
    width:120px;
    justify-content: flex-end;
    
}

.body-container{
    background-color: blanchedalmond;
    background-size:100vw;
    height:100vh;
    padding:15px;
}

.recent-view{
    background-color: aquamarine;
    padding:10px;
    background-size:50vw;
}

.recent-images{
    width:10vw;
    height:30vh;
    padding:15px;
}